@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans: 'Hanken Grotesk', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';
    --font-headline: 'Libre Caslon Text', serif;
    --font-headline-md: 'Libre Caslon Text', serif;
    --font-body-md: 'Hanken Grotesk', sans-serif;
    --font-label-caps: 'Hanken Grotesk', sans-serif;

    --text-headline-md: 1.75rem;
    --text-body-md: 1rem;
    --text-label-caps: 0.75rem;

    --leading-headline-md: 1.2;
    --leading-body-md: 1.7;
    --leading-label-caps: 1.2;

    --letter-spacing-label-caps: 0.1em;

    --font-weight-headline-md: 700;
    --font-weight-body-md: 400;
    --font-weight-label-caps: 700;

    --max-width-container-max: 1280px;
    --padding-margin-mobile: 1rem;
    --padding-margin-desktop: 4rem;

    --color-primary: #2a4a38;
    --color-on-primary: #ffffff;
    --color-primary-container: #41624f;
    --color-primary-fixed-dim: #abcfb8;
    --color-background: #fcf9f8;
    --color-on-background: #1c1b1b;
    --color-surface: #fcf9f8;
    --color-surface-dim: #dcd9d9;
    --color-surface-variant: #e5e2e1;
    --color-surface-container: #f0eded;
    --color-surface-container-high: #eae7e7;
    --color-surface-container-highest: #e5e2e1;
    --color-surface-container-low: #f6f3f2;
    --color-surface-container-lowest: #ffffff;
    --color-on-surface: #1c1b1b;
    --color-on-surface-variant: #424843;
    --color-secondary: #605e59;
    --color-secondary-container: #e6e2db;
    --color-tertiary: #424444;
    --color-outline: #727973;
    --color-outline-variant: #c1c8c1;
    --color-error: #ba1a1a;
    --color-error-container: #ffdad6;
}
